html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: #e2e2e0;
	color: #666;
	font: 16px/28px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 22px;
}

h1,
h2 {
	font-family: pacifico;
	text-transform: uppercase;
	font-weight: normal;
}

a {
	color: #21aabd;
	text-decoration: none;
}

a:hover {
	color: #333;
	text-decoration: underline;
}


#container {
	width: 960px;
	margin: 0 auto;
	background: #fff
}

/*** Header ***/

#header {
	width: 920px;
	padding: 20px;
	background: #21aabd;
}

#header h1 {
	color: #fff;
}


/*** Nav ***/
#nav {
	width: 960px;
	background: #666;
	color: #fff;
}

#nav a {
	color: #fff;
	display: inline-block;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: oswald;
}

#nav a:hover {
	background: #333;
}

/*** Slider ***/
.slider-wrapper {
	width: 100%;
}

/*** Contenuto evi ***/
.item-evi {
	width: 280px;
	padding: 20px;
	float: left;
}

/*** Messaggio ***/
#mes-full {
	width: 920;
	padding: 20px;
	clear: both;
	background: #e2e2e0;
}

#mes-full p {
	font-family: pacifico;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 28px;
}

/*** Contenuto ***/
#content {
	width: 620px;
	padding: 20px;
	float: left;
}

#content .articolo {
	border-bottom: 1px solid #eee;
	min-height: 190px;
	padding: 0px 0 10px 0;
}

#content .articolo img {
	float: left;
	margin: 0 20px 0 0;
}

#content .last {
	border-bottom: none;
}

/*** Sidebar ***/
#sidebar {
	width: 260px;
	padding: 20px;
	float: left;
}

/*** Footer ***/
#footer {
	width: 920px;
	padding: 20px;
	clear: both;
	background: #666;
	color: #fff
}


/* Clear */
.clear {
	width: 100%;
	clear: both;
	height: 1px;
	background: #eee;
}