@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  /* Questo permette di usare ogni spessore */
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

;

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563EB;
  /* --color-primary-light: #BDE0FE; */
  --color-secondary: #3B82F6;

  --spacing-10: 10px;

}

@theme {

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --width-personal: 1200px;

  /* Colore: genererà text-primary, bg-primary, ecc. */
  --color-verde-scuro: #323313;
  --color-verde-chiaro: #EAF4BB;
  --color-beige-chiaro: #F8F3E1;
  --color-button-hover: #FFF8DB;

  /* --color-primary: #2563EB; */
  --color-primary-light: #BDE0FE;
  --color-bg: #e2e2e2;
  --color-surface: #FFFFFF;
  --color-text: #0F172A;
  --color-text-muted: #64748B;
  --color-border: #E2E8F0;
  --color-gradient-from: #1E40AF;
  --color-gradient-to: #1D4ED8;
  --color-danger: #EF4444;

  /* Spaziatura: genererà m-gap, p-gap, ecc. */
  --spacing-5: 5px;
  --spacing-10: 10px;
  --spacing-15: 15px;
  --spacing-20: 20px;
  --spacing-25: 25px;

  --spacing-gap: 25px;
  
  --radius-25: 25px;

  --text-15: 15px;
  --text-25: 25px;
}

test {
  --color-primary: #2563EB;
  --color-primary-light: #BDE0FE;
  --color-secondary: #3B82F6;
  --color-bg: #e2e2e2;
  --color-surface: #FFFFFF;
  --color-text: #0F172A;
  --color-text-muted: #64748B;
  --color-border: #E2E8F0;
  --color-gradient-from: #1E40AF;
  --color-gradient-to: #1D4ED8;
  --color-danger: #EF4444;

  --btn-rounded-full: 9999px;
}

@layer components {
  .btn-grid-link {
    /* class="btn hover:bg-button-hover rounded-[25px] bg-beige-chiaro font-semibold aspect-4/2 h-auto text-[16px] py-[10px] hover:shadow-lg hover:shadow-[0px 0px 10px 0px #41431B] transition ease-in-out duration-300 border-none hover:border-none" */
    @apply btn bg-beige-chiaro font-semibold w-full py-10 aspect-4/2 text-[16px];
    @apply rounded-25 border-none;
    /* @apply hover:bg-button-hover hover:shadow-lg hover:shadow-black hover:border-none; */
    @apply transition ease-in-out duration-300;
    @apply lg:aspect-auto;
  }

  .navbar-title{
    /* flex text-4xl font-bold text-text truncate tracking-tight w-full lg:justify-center lg:text-6xl */
    @apply flex lg:justify-start ;
    @apply w-full;
    @apply text-text font-bold text-4xl md:text-5xl lg:text-6xl truncate; 
  }

  .navbar-btn{
    /* flex justify-center btn bg-primary hover:bg-primary-light py-10 h-auto rounded-full text-[24px] hover:border-none hover:shadow-[0px_0px_10px_0px_#000000] text-text duration-300 */
    @apply btn btn-ghost bg-primary-light;
    @apply flex justify-center;
    @apply py-10  px-20  h-auto rounded-full;
    @apply text-[20px]  text-text;
    @apply  hover:border-primary hover:shadow-[0px_0px_10px_0px_#2563EB];
    @apply duration-300;
  }

  .utility-btn{
    /* class="btn btn-circle btn-ghost w-full h-full p-2 hover:bg-primary-light" */
    @apply btn btn-circle btn-ghost;
    @apply w-auto h-full p-2;
    @apply hover:bg-primary-light;
  }

  .active {
    @apply bg-primary-light! ;
  }

  .sidebar-btn{
    /* btn btn-ghost rounded-full text-25 text-text font-bold */
    @apply btn  rounded-full! py-5 h-auto;
    @apply text-25 text-text font-bold;
    @apply hover:bg-primary-light! hover:border-primary hover:shadow-[0px_0px_10px_0px_#2563EB]!;
    @apply duration-300;
  }

  .section-wrapper {
    @apply w-full flex justify-center;
  }

  .container-1200 {
    @apply w-full px-25;
  }

  .layout-container {
    @apply w-full flex justify-center;
  }

  .highlighted-card {
    @apply rounded-25 px-25 py-25;
    @apply bg-surface;
  }

  .heading-primary {
    @apply text-3xl font-bold text-text
  }

  .article-content {
    @apply leading-relaxed text-text-muted line-clamp-10 text-lg;
  }

  .info-card-title {
    @apply text-3xl font-bold text-beige-chiaro flex justify-center;
  }

  .sidebar-desktop {
    @apply lg:col-start-3 lg:col-end-3 lg:row-start-1 lg:row-end-3;
  }
}

* {
  box-sizing: border-box;
}

body {
  min-width: 300px;
  box-shadow: 0px 0px 10px 0px #000000;
}

html {
  /* Definisce il colore del pollice e della traccia per l'intera pagina */
  scrollbar-color: rgb(133, 133, 133) transparent;
  /* Rende la barra più discreta */
  scrollbar-width: thin;
}