@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  /* Questo permette di usare ogni spessore */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  /* Questo permette di usare ogni spessore */
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

;

@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-primary: #DAE2FD;

  --color-secondary: #ffb2b7;
}

@theme {

  --font-sans: "Manrope", sans-serif;
  --font-grotesk: "Space Grotesk", sans-serif;

  --color-bg: #070D1E;
  --color-bg-darker: #020617;
  --color-card: #21293F;
  --color-link: #89CEFF;
  --color-text: #BEC8D2;
  --color-button-off: #64748B;


  /* Spaziatura: genererà m-gap, p-gap, ecc. */
  --spacing-5: 5px;
  --spacing-10: 10px;
  --spacing-15: 15px;
  --spacing-20: 20px;
  --spacing-25: 25px;
  --spacing-30: 30px;
  --spacing-50: 50px;
  --spacing-75: 75px;

  --spacing-gap: 25px;

  --radius-25: 25px;

  --text-10: 10px;
  --text-15: 15px;
  --text-20: 20px;
  --text-25: 25px;

  --text-shadow-glow: 0 0 10px #89ceff80, 0 0 20px #89ceff4d;

  --shadow-glow: 0 0 10px #89ceff80, 0 0 20px #89ceff4d;
}

test{
  color: #ffb2b7;
}

@layer components {



  .navbar-link {
    @apply flex items-center h-full;
    @apply text-15 text-text;
    @apply cursor-pointer;
    @apply transition-all duration-300;
    @apply hover:text-shadow-glow hover:text-white
  }

  .drawer-link {
    @apply w-full;
    @apply text-20;
  }

  .active-link {
    @apply font-bold text-link;
    @apply border-b border-link;
  }

}

* {
  box-sizing: border-box;
}

body {
  min-width: 300px;
  box-shadow: 0px 0px 10px 0px #000000;
}

html {
  /* Definisce il colore del pollice e della traccia per l'intera pagina */
  scrollbar-color: rgb(133, 133, 133) transparent;
  /* Rende la barra più discreta */
  scrollbar-width: thin;
}

.drop-shadow-glow {
    filter: drop-shadow(0 0 10px rgba(137, 206, 255, 0.502)) drop-shadow(0 0 20px rgba(137, 206, 255, 0.302));
  }

.mesh-gradient {
  background-image:
    radial-gradient(at 0% 0%, rgba(137, 206, 255, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(255, 178, 183, 0.1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(14, 165, 233, 0.15) 0px, transparent 50%);
}

.mesh-gradient2 {
  background-image:
    radial-gradient(at 0% 0%, rgba(161, 255, 137, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(255, 178, 183, 0.1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(233, 65, 14, 0.15) 0px, transparent 50%);
}

.mesh-gradient3 {
  background-image:
    radial-gradient(at 0% 0%, rgba(255, 137, 137, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(60, 245, 75, 0.1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(14, 36, 233, 0.15) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(238, 255, 0, 0.15), transparent 50%);
}